{%- liquid 
    assign sort_by = results.sort_by | default: results.default_sort_by
    assign total_active_values = 0

    if results.url 
        assign results_url = results.url 
    else 
        assign terms = results.terms | escape
        assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    endif
%}

<div class="coll-filter">
    <collection-filter-form>
        <form id="FacetFiltersForm" class="facets__form">
            {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}
    
            {% for filter in results.filters %}
                {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
    
                {% case filter.type %}
                    {% when 'list' %}
                        <div id="Details-{{ forloop.index }}-{{ section.id }}">
                             <button type="button" class="collection-filter-btn" data-flist="Facet-{{ forloop.index }}-{{ section.id }}">
                                <span>{{ filter.label | escape }}</span>
                                {% render 'icon-caret' %}
                            </button>
                            
                            <div id="Facet-{{ forloop.index }}-{{ section.id }}" aria-expanded="false" class="collection-filter-container">
                                <ul class="facets__list" role="list">
                                    {% for value in filter.values %}
                                        <li class="facets__list-item"> 
                                            <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                                <input type="checkbox"
                                                  name="{{ value.param_name }}"
                                                  value="{{ value.value }}"
                                                  id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                  {% if value.active %}checked{% endif %}
                                                  {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                >
                                                {{ value.label | escape }} ({{ value.count }})

                                                <span class="facet-checkbox-mark"> </span>
                                              </label> 

                                        </li>
                                    {% endfor %}    
                                </ul>
                            </div>
                        </div>
    
                {% endcase %}
    
            {% endfor %}
        </form>
    </collection-filter-form>
</div>