<article>
    {% if article.image %} 
        <img src="{{ article.image | image_url: 'master' }}" width="{{ article.image.width }}" height="{{ article.image.width }}" loading="lazy" alt="{{ article.image.alt }}">
    {% endif %}
    <h2> {{ article.title }} </h2>
    <div>
        {{ article.content }}
    </div>
</article>